/*Fonts*/
.roboto-400 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-500 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-600 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-700 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.stack-sans-text-400 {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Icons*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}

/*Loader source: https://cssloaders.github.io/ */
.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
  }
  50% {
    background-color: #FFF;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
  }
}
      

/*Actual css*/
body {
    background-color: #121215;
}

.main {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
}

.main-left {
    width: 420px;
}

.main-right {
    width: -webkit-fill-available;
    height: 100%;
}

.avatar-preview {
    overflow: hidden;
    border-radius: 12px;
    position: relative;
}

.avatar-preview-focus {
    position: absolute;
    right: 5%;
    top: 5%;
    transform: scale(1.5);

    color: #f5f5f5;
    background-color: transparent;
    border-style: none;
    padding: 0;
    
    opacity: 100%;
    transition-duration: 0.1s;
    transition-property: opacity;
    cursor: pointer;
}

.focus-disabled {
    opacity: 30%;
    cursor: auto;
}

.division-down {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.bar-category {
    height: 3em;
    width: fit-content;
    padding: 5px;
    background-color: #2a2a2d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 5px 15px;
    border-radius: 1em;
}

.width-fill-available {
    width: -webkit-fill-available;
}

.background-transparent {
    background-color: transparent;
}

.bar-double-margin {
    margin: 5px 15px 10px 15px;
}

.align-center {
    align-self: center;
}

.bar-button {
    font-size: 1.4em;
    border-style: none;
    margin: 0.2em 0.2em;
    border-radius: .5em;
    padding: .4em 1.2em;
    background-color: transparent;
    color: #f5f5f5;
    text-align: center;
    cursor: pointer;
}

.bar-button:hover {
    background-color: #1212159f;
}
/*
.bar-button-selected {
    background-color: #121215;
}
.bar-button-selected:hover {
    background-color: #121215;
}
*/
.bar-button-selected {
    background-color: #f5f5f5;
    color: #2a2a2d;
}
.bar-button-selected:hover {
    background-color: #f5f5f5;
    color: #2a2a2d;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 0;
    flex-grow: 1;
}

.item-container {
    display: grid;
    /*grid-template-columns: repeat(auto-fit, minmax(145px, max-content));*/
    grid-auto-rows: min-content;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    justify-content: center;
    width: calc(100% - 30px);
    gap: .6rem 5px;
    padding: initial;
    margin-top: 5px;
    margin-left: 15px;

    overflow-y: auto;
    height: 100%;
}

.item {
    background-color: transparent;
    border-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.item-image {
    position: relative;

    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;

    border-style: none;
    background-color: transparent;
    padding: 0;
}

.item-image img {
    background-color: #2b2d33;
    width: 100%;
    aspect-ratio: 1/1;
}

.item-image img:hover, .item-image div:hover {
    transition-property: box-shadow;
    transition-duration: 0.1s;
}

.item-image img:hover, .item-image div:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 80px 0px inset;
}

@keyframes loading-gradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.item-loading {
    background-color: #2b2d33;
    width: 100%;
    aspect-ratio: 1/1;

    background: linear-gradient(-45deg, #2b2d33, #626672, #2b2d33, #626672);
	background-size: 400% 400%;
	animation: loading-gradient 2s ease infinite;
}

.loading-gradient {
    background: linear-gradient(-45deg, #2b2d33, #626672, #2b2d33, #626672);
	background-size: 400% 400%;
	animation: loading-gradient 2s ease infinite;
}

.item-name {
    margin-top: 3px;
    color: #f5f5f5;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: start;
    cursor: pointer;
    width: 100%;
    height: 2.2rem;
}

.worn-item-check {
    position: absolute;
    transform: scale(1.5);
    color: #f5f5f5;
    left: 10%;
    top: 10%;

    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.1s;
}

.darken-item {
    box-shadow: #00000078 0 0 80px inset;
}

.darken-item:hover {
    box-shadow: #00000078 0 0 80px inset !important;
}

.emote-bar {
    height: 80px;
}

.emote-box {
    width: 80px;
    aspect-ratio: 1/1;

    border-style: none;
    background-color: #3c3f48;
    padding: 0;

    border-radius: 1em;
    overflow: hidden;
    margin: 0 2.5px;

    cursor: pointer;
}

.emote-box img {
    width: 100%;
    height: 100%;
}

.emote-equipped {
    box-shadow: #f5f5f5 0 0 0 1px inset;
}

.emote-box-empty {
    color: #9f9f9f5c;
    font-size: 50px;
}

.dark-scrollbar {
    scrollbar-color: #121215 #2a2a2d;
}

.save-and-history {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    height: 7em;
    align-items: center;
}

.save-button {
    background-color: #335fff;
    color: #f5f5f5;
    width: 45%;
    margin: 15px 2.5% 15px 0;
    padding: 4%;
    font-size: 2em;
    border-style: none;
    border-radius: 12px;
    cursor: pointer;
    transition-duration: 0.1s;
}

.save-button-inactive {
    background-color: #335fff67 !important;
    color: #f5f5f58a;
    cursor: auto;
}

.save-button:active {
    background-color: #466eff;
}

.undo-redo {
    background-color: #2a2a2d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-radius: 10000px;
    height: 50%;
    padding: 5px;
}

.history-button {
    aspect-ratio: 1;
    height: 100%;
    border-style: none;
    border-radius: 10000px;
    background-color: #121215;
    color: #f5f5f5;
    cursor: pointer;

    transition-duration: 0.1s;
}

.history-button:hover {
    background-color: #0d0d0f;
}

.history-button:active {
    background-color: #16161a;
}

.history-button-inactive {
    background-color: transparent !important;
    color: #f5f5f580 !important;
    cursor: auto;
}

.undo {
    margin-right: 5px;
}

.worn-items {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.worn-list-item .item-image {
    width: 60px;
}

.worn-list-item {
    width: 60px;
    height: 60px;
    margin-right: 3px;
}

.scale-category {
    width: 90%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.slider-input {
    width: 100%;
    height: 10px;
    background-color: #2a2a2d;
    position: relative;
    cursor: pointer;
    border-radius: 10000px;
}

.slider-input-thumb {
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: #f5f5f5;
    transform: translate(-50%, -25%);
    cursor: pointer;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0) 0px 0px 5px 0px;
    z-index: 2;

    transition: 0.1s;
    transition-property: box-shadow;
}

.slider-input-thumb-dragging {
    box-shadow: #ffffff36 0 0 0px 7px;
}

.slider-input-fill {
    height: 100%;
    background-color: #f5f5f5;
    position: relative;
    border-radius: 10000px;
}

.scale-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em;
    margin-top: 2em;
}

.scale-name {
    color: #f5f5f5;
    font-size: 1.5em;
}

.scale-value {
    color: #f5f5f5;
    font-size: 1.5em;
}

.rig-select {
    height: 3em;
}

.rig-button {
    height: 100%;
    width: 3em;
    border-style: none;
    margin-right: 1px;
    background-color: #2a2a2d;
    font-size: 1.5em;
    color: #f5f5f5;
    cursor: pointer;
}

.rig-button-active {
    outline-color: #f5f5f5;
    outline-width: 1px;
    outline-style: solid;
}

.rig-button-left {
    border-radius: 12px 0 0 12px;
}

.rig-button-right {
    border-radius: 0 12px 12px 0;
}

.radialButton {
    position: relative;
    overflow: hidden;
}

@keyframes radialButtoncircle {
    from {
        width: 0%;
        opacity: 1;
    }
    to {
        width: 220%;
        opacity: 0;
    }
}

.radialButton-circle {
    display: block;
    background-color: #ffffffaa;
    border-radius: 100%;
    aspect-ratio: 1;

    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(-50%,-50%);
    width: 0%;
}

.radialButton-circle-anim {
    animation-name: radialButtoncircle;
    animation-duration: 0.1s;
    animation-timing-function: ease-out;
}

.bodypart-select {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    height: fit-content;
    margin: 0 0;
}

.bodycolor-select {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100%;
    gap: 5px;
    aspect-ratio: 6 / 5;
    overflow: auto;
}

.bodycolor {
    all: unset;
    padding: 0;
    border-style: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

.bodycolor-color {
    all: unset;
    padding: 0;
    border-style: none;
    cursor: pointer;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: clip;
}

.bodycolor-selected {
    display: flex;
    position: absolute;
    width: 75%;
    height: 75%;
    left: 12.5%;
    top: 12.5%;
    background-color: #00000086;
    border-radius: 1000000px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bodycolor-selected span {
    color: #f5f5f5;
    transform: scale(1.5);
}

.bodycolor-active {
    box-shadow: var(--box-shadow-color) inset 0px 0px 0px 3px;
}

.bodycolor-head {
    width: 25%;
    height: auto;
    aspect-ratio: 1/1;
}

.bodycolor-torso {
    width: 38%;
    height: auto;
    aspect-ratio: 1 / 1;
    padding-left: 10px;
}

.bodycolor-limb {
    width: 19%;
    height: auto;
    aspect-ratio: 1 / 2;
}

.bodycolor-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.bodycolor-category {
    width: -webkit-fill-available;
    height: 70vh;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 15px;
}

.select {
    height: 2em;
    font-size: 1.4em;
    border-style: none;
    margin: .2em;
    border-radius: 1em;
    padding: .4em 1.2em;
    background-color: #2a2a2d;
    color: #f5f5f5;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
}

.select ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 0;
    margin: 1.9em 0 0;
    background-color: #2a2a2d;
    left: 0;
    border-radius: 1em;
    overflow: hidden;
    z-index: 2;
}

.select ul button {
    background-color: #2a2a2d;
    color: #f5f5f5;
    border-style: none;
    font-size: 1em;
    text-wrap-mode: nowrap;
    padding: .4em 1.2em;
    cursor: pointer;
}

.select ul button:hover {
    background-color: #47474b;
}