/*Fonts*/
.roboto-400 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-500 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-600 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-700 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.stack-sans-text-400 {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Loader source: https://cssloaders.github.io/ */
.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF;
  }
  50% {
    background-color: #FFF;
    box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
  }
  100% {
    background-color: #FFF2;
    box-shadow: 32px 0 #FFF, -32px 0 #FFF2;
  }
}
      

/*Actual css*/
body {
    background-color: #121215;
}

.main {
    width: 100%;

    display: flex;
    flex-direction: row;
}

.main-right {
    width: -webkit-fill-available;
}

.avatar-preview {
    overflow: hidden;
    border-radius: 12px;
}

.division-down {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.bar-category {
    height: 3em;
    width: fit-content;
    padding: 5px;
    background-color: #2a2a2d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin: 5px 15px;
    border-radius: 1em;
}

.width-fill-available {
    width: -webkit-fill-available;
}

.background-transparent {
    background-color: transparent;
}

.bar-double-margin {
    margin: 5px 15px 10px 15px;
}

.align-center {
    align-self: center;
}

.bar-button {
    font-size: 1.4em;
    border-style: none;
    margin: 0.2em 0.2em;
    border-radius: .5em;
    padding: .4em 1.2em;
    background-color: transparent;
    color: #f5f5f5;
    text-align: center;
    cursor: pointer;
}

.bar-button:hover {
    background-color: #1212159f;
}

.bar-button-selected {
    background-color: #121215;
}

.bar-button-selected:hover {
    background-color: #121215;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(145px, max-content));
    justify-content: center;
    width: calc(100% - 30px);
    gap: .6rem 5px;
    padding: initial;
    margin-top: 5px;
    margin-left: 15px;

    overflow-y: auto;
    height: 500px;
}

.item {
    background-color: transparent;
    border-style: none;
    height: calc(150px + 2.5rem);
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.item-image {
    width: 150px;
    height: 150px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;

    border-style: none;
    background-color: transparent;
    padding: 0;
}

.item-image img {
    background-color: #2b2d33;
    width: 100%;
    aspect-ratio: 1/1;
}

.item-image img:hover, .item-image div:hover {
    transition-property: box-shadow;
    transition-duration: 0.1s;
}

.item-image img:hover, .item-image div:hover {
    box-shadow: rgba(0, 0, 0, 0.165) 0px 0px 80px 0px inset;
}

@keyframes loading-gradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.item-loading {
    background-color: #2b2d33;
    width: 100%;
    aspect-ratio: 1/1;

    background: linear-gradient(-45deg, #2b2d33, #626672, #2b2d33, #626672);
	background-size: 200% 200%;
	animation: loading-gradient 2s ease infinite;
}

.loading-gradient {
    background: linear-gradient(-45deg, #2b2d33, #626672, #2b2d33, #626672);
	background-size: 200% 200%;
	animation: loading-gradient 2s ease infinite;
}

.item-name {
    margin-top: 3px;
    color: #f5f5f5;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: start;
    cursor: pointer;
    width: 150px;
}

.dark-scrollbar {
    scrollbar-color: #121215 #2a2a2d;
}